In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('car_data.csv')

In [3]:
data.shape

(205, 23)

In [4]:
data.head()

,Unnamed: 0,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_type,num_of_cylinders,engine_size,fuel_system,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,2,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,3,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,4,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,5,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [5]:
data['body_style'].values

array(['convertible', 'convertible', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'wagon', 'sedan', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'hatchback',
       'hatchback', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'sedan', 'sedan', 'wagon', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'wagon', 'hatchback', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'hatchback', 'sedan',
       'sedan', 'sedan', 'hatchback', 'hatchback', 'hatchback', 'sedan',
       'sedan', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'hatchback', 'sedan', 'sedan', 'hatchback',
       'sedan', 'sedan', 'sedan', 'wagon', 'hardtop', 'sedan', 'sedan',
       'convertible', 'sedan', 'hardtop', 'hatchback', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'sedan', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'wagon', 'sedan',
       'hatchback', 'sedan', 'wagon', 'hardtop', 'hatchback', 'sedan',
       'sedan', 'wagon', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'sedan', 'wagon', 'wagon', 'sedan', 'sedan', 'wagon',
       'wagon', 'sedan', 'sedan', 'sedan', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'sedan', 'wagon', 'hatchback', 'hatchback',
       'hardtop', 'hardtop', 'convertible', 'hatchback', 'wagon',
       'hatchback', 'hatchback', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'wagon', 'wagon',
       'wagon', 'wagon', 'hatchback', 'hatchback', 'hatchback', 'wagon',
       'wagon', 'wagon', 'sedan', 'hatchback', 'sedan', 'hatchback',
       'sedan', 'hatchback', 'sedan', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'hardtop', 'hardtop', 'hatchback', 'hardtop',
       'hatchback', 'convertible', 'sedan', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'hatchback', 'hatchback', 'sedan', 'wagon', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'sedan',
       'convertible', 'hatchback', 'sedan', 'sedan', 'wagon', 'sedan',
       'wagon', 'sedan', 'wagon', 'sedan', 'wagon', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan'], dtype=object)

In [6]:
X = data.loc[:, ['length','width','height','curb_weight']]
y= data.loc[:, ['body_style']]

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
sc = StandardScaler()

In [13]:
X_train = sc.fit_transform(X_train)

In [14]:
X_test = sc.transform(X_test)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
classifier = KNeighborsClassifier(n_neighbors = 5, p = 2)

In [17]:
classifier.fit(X_train, y_train)

<ipython-input-17-f44724590846>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [18]:
y_pred = classifier.predict(X_test)

In [19]:
from sklearn.metrics import  accuracy_score
accru=(100*accuracy_score(y_test, y_pred))
print("The accuracy of the model is :",accru)

The accuracy of the model is : 80.76923076923077